<!-- <h1>Adios</h1> -->
<!-- <div class="row modal-fullscreen modal-center">
  <div class="col-2 bg-dark text-white">
    <div class="fw-bold fs-3 text-center"  style="margin-top: 15rem !important; margin-bottom: 15rem !important;">
      <p >my-index works!</p>
    </div>
  </div>

  <div class="col-10">
    <router-outlet />
  </div>
</div> -->
<!-- *ngFor="let item of actividades" -->
<div class="row fs-1 fw-bold mt-5 text-center modal-dialog-centered modal-dialog-scrollable" *ngFor="let actividad of actividades">
  <div class="my-4 pt-5 fs-1 fw-bold">
    <!-- <h1 class="my-4">imagen</h1> -->

    <!-- <app-carousel [images]="actividad.images"></app-carousel> -->

    <h2 class="my-4 fs-1 fw-bold "> {{ actividad.titulo }}</h2>
    <h2 class="my-4 fs-1 fw-bold "> {{ actividad.organizador.email }}</h2>
    <!-- <a routerLink="{{peticion.id}}" class="btn btn-danger">Ver detalles</a> -->
    <a class="btn btn-danger rounded fs-1 fw-bold  my-4" routerLink="{{actividad.id}}">Ver detalles</a>
  </div>
</div>
