h1{
    font-size: 6rem;
    padding: 1rem;
    color: red;
    margin-bottom: 4rem;
}

h2, h3, h4, h5, h6{
    font-size: 2rem;
    padding: 1rem;
}

#vistaPeticion *{
    font-family: Arial !important;
    text-align: center !important;
    position: relative !important;
    justify-self: center !important;
    font-weight: bold !important;

    margin-right: auto;
    margin-left: auto;

    margin-top: 1rem !important;
    margin-bottom: 1rem !important;

    padding: 1rem !important;
}
#vistaPeticion img{
    width: 20rem !important;
    height: 20rem !important;
}