  <div id="vistaPeticion">
    <div id="imagen">
        <app-carousel [images]="imagenes"></app-carousel>
    </div>

    <h1 >{{ actividad.titulo }}</h1>

    <br>

    <h3>Descripcion: <br>{{actividad.descripcion}}</h3>

    <h4>Organizador :  <br> {{ user.email }}</h4>

    <h6>
        <a id="firmar" (click)="delete()" type="button" class="btn btn-danger center-block" >Eliminar actividad</a>
        <br>
        <a id="firmar" (click)="incripbirse()" type="button" class="btn btn-warning center-block" >Actividad favorita</a>
        <br>
        <a id="firmar" (click)="addFavorita()" type="button" class="btn btn-info center-block" >Incribirse en actividad</a>
    </h6>

</div>
