<ng-template #loading>
  <div class="alert alert-info">
    Espere por favor
  </div>
</ng-template>

<div *ngIf="country; else loading">
  <div class="row">
    <div class="col-12">
      <h2>País: <strong>{{country.name.common}}</strong></h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-4">
        <h4>Bandera</h4>
        <img class="img-thumbnail" [src]="country.flags.svg" [alt]="country.name.common">
      </div>

      <div class="col">
        <h3>Información</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Población:</strong>{{country.population | number}}
          </li>

          <li class="list-group-item">
            <strong>Código:</strong>{{country.cca3}}
          </li>
        </ul>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <div class="d-flex flex-wrap">

        <table class="table table-bordered text-center text table-responsive align-middle table-border-2 table-border-dark opacity-100 m-2 p-2">
          <thead>
            <tr>
              <th colspan="2">
                <h1>Traductions</h1>
              </th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <th>
                <h4>Code Lenguage</h4>
              </th>
              <th>
                <h4>Traduction</h4>
              </th>
            </tr>

            <tr *ngFor="let translate of listLKeysAndTranslations">
              <td>
                {{translate[0]}}
              </td>
              <td>
                {{translate[1]}}
              </td>
            </tr>

            <!-- <tr *ngFor="let key of keysTranslation">
              <td>
                {{key}}
              </td>
            </tr>

            <tr *ngFor="let translation of translations">
              <td>
                {{translation.common}}
              </td>
            </tr> -->

          </tbody>
        </table>

        <!-- <span class="badge bg-primary m-1" *ngFor="let translation of translations">
          {{translation.common}}
        </span> -->

      </div>
    </div>
  </div>
</div>
