/* You can add global styles to this file, and also import other style files */

.error{
  font-size: 2rem;
  /* margin:1rem; */
  font-weight: bold;
  /* color: rgb(220, 53, 69); */
  color: #dc3545;
}
